.gallery-section {
  padding: 2rem 0;
}

.gallery-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  font-family: "Dosis", sans-serif !important;
  transform: translateY(20px);
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

.gallery-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(0);
}

.gallery-grid-item.show.from-left {
  animation: fadeInFromLeft 0.8s forwards;
}

.gallery-grid-item.show.from-right {
  animation: fadeInFromRight 0.8s forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.gallery-img-grid {
  width: 100%;
  max-width: 300px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s cubic-bezier(.4,2,.6,1), box-shadow 0.3s;
}

.gallery-img-grid:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 24px rgba(0,0,0,0.18);
}

@media (max-width: 700px) {
  .gallery-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 0;
  }
  .gallery-img-grid {
    max-width: 48vw;
    height: 300px;
  }
  .gallery-title{
    font-size: 1.5rem;
  }
}